/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991px) {
  .carousel-item h1 {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .carousel-item h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
  .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2.1rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
  .carousel-item h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .carousel-item h3 {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .6rem 1.1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  .top-scroll {
    display: none!important;
  }
}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
  .carousel-item.active h1 {
    font-size: 1.9rem;
    letter-spacing: .1rem;
    padding-bottom: .4rem;
  }
  .carousel-item.active h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .btn-lg {
    padding: .4rem .9rem;
    font-size: .9rem;
  }
  .narrow {
    width: 85%;
  }
}